/* The most basic css available, just to test out the app layout */
html, body {
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #444;
	color: #eee;
	font-family: Arial;
	font-size: 12px;
	overflow: hidden;
}

.viewstack-panel {
	height: 100%;
	position: absolute;
	left: 100px;
	background-color: #fff;
	color: #444;
	padding: 30px;
	width: 500px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}