<template name="customers">
  <div class="viewstack-panel">
    <h1>Customers <button class="close">X</button></h1>
    {{#each customers}}
      <h2 class="hotlink hotlink-customer">{{name}}</h2>
    {{/each}}
  </div>
</template>