
<template name="customer">
  <div class="viewstack-panel">
    <h1>{{customer.name}} <button class="close">X</button></h1>
    {{#each invoices}}
      <div class="hotlink hotlink-invoice">{{title}}</div>
    {{/each}}
  </div>
</template>