


<template name="invoice">
  <div class="viewstack-panel">
    <h1>{{title}} <button class="close">X</button></h1>
    {{#with customer}}
    <b class="hotlink hotlink-customer">{{name}}</b>
    {{/with}}
  </div>
</template>